body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #b862ff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: #e8ff77;
    text-decoration: none;
}

main {
    padding: 20px;
}

.video-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.video {
    margin: 20px;
    width: 100%;
    max-width: 560px;
}

footer {
    background-color: #333;
    color: #b862ff;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;
}

.footer-nav ul li {
    display: inline-block;
    margin: 0 15px;
    position: relative;
}

.footer-nav ul li a {
    color: #e8ff77;
    text-decoration: none;
}

@media (max-width: 768px) {
    .video-gallery {
        flex-direction: column;
        align-items: center;
    }
}
